/* CAROUSEL CARD */
.car-card {
    border-radius: 20px;
    padding: 10px;

    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* FLICKITY CAROUSEL */
.flickity-viewport {
    height: 100%;
    margin-bottom: 20px;

    border-radius: 10px;
    overflow: hidden;
}

.carousel-cell {
    margin-right: 10px;

    height: 400px;
    width: 100%;
}

.carousel-cell img {
    height: 100%;
    width: 100%;

    border-radius: 10px;
    object-fit: cover;
}

/* FLICKITY BUTTONS */
.flickity-button {
    display: none;
}

body.hasHover .flickity-button:not(:disabled) {
    display: block;
    transition: 0.4s;
}

.flickity-button:disabled {
    display: none;
}
  

/* FLICKITY DOTS */
.flickity-page-dots {
    bottom: -20px;
    height: 10px;
}

.flickity-page-dots .dot {
    position: relative;
    bottom: 7px;

    width: 10px;
    height: 10px;
    margin: 0px 10px;

    opacity: 1;
    background-color: #f0f0f0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1) inset;

    transition: 0.2s;
}

.flickity-page-dots .dot.is-selected {
    background-color: black;
}