/* GLOBAL */
:root {
    --background: #f0f0f0;
    --foreground: white;
    --shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    --shadow-hover: 0px 3px 9px rgba(0, 0, 0, 0.25);
}

/* STYLE RESET AND BASIC SETUP */
*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    display: none;
    
    margin: 0;
    padding: 0;

    width: 0;
    height: 0;
}

body {
    margin: 0;
    padding: 0;

    height: 100%;

    background-color: var(--foreground);

    font-family: 'Arimo', sans-serif;
    font-weight: normal;
    font-style: normal;
}

/* CONTENT */
img {
    vertical-align: bottom;
}

h1, h2, h3, h4 {
    margin: 0;
    margin-top: 20px;

    padding: 0;

    font-family: 'ITC Lubalin', serif;
    font-weight: normal;
    font-style: normal;
}

p, ul {
    display: block;

    margin: 0;
    margin-top: 20px;

    padding: 0;
}

ul {
    margin-left: 20px;
}

/* FUNCTION OVERRIDES */
.no-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* CARDS */
.card, .card-btn, .card-frame {
    border-radius: 20px;
    padding: 20px;
    padding-top: 0;

    width: 100%;
    overflow: auto;

    box-shadow: var(--shadow);

    background-color: var(--foreground);
    color: black;
    text-decoration: none;

    transition: 0.4s;
}

.card-frame {
    padding: 5px;
    padding-top: 0px;
}

.card-hole {
    border-radius: 15px;
    padding: 20px;
    padding-top: 0;

    margin-top: 20px;

    width: 100%;
    overflow: auto;

    box-shadow: var(--shadow) inset;

    background-color: var(--background);
    color: black;
    text-decoration: none;
}

body.hasHover .card-btn:hover {
    box-shadow: var(--shadow-hover);
}

body.hasHover .product:hover {
    transform: scale(1.01);
    box-shadow: var(--shadow-hover);
}

/* BUTTONS */
.btn {
    cursor: pointer;

    width: 100%;

    padding: 10px;
    text-align: center;

    font-family: 'ITC Lubalin';

    border-radius: 10px;
    background-color: var(--foreground);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.2) inset;

    transition: 0.2s;
}

.btn-pressed {
    background-color: var(--background);
    box-shadow: var(--shadow) inset;
    border-color: rgba(0, 0, 0, 0);
}

body.hasHover .btn:hover {
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25), 0px 0px 1px rgba(0, 0, 0, 0.2) inset;
}

/* RADIO SET */
input[type="radio"]:checked+.btn {
    cursor: default;
    pointer-events: none;

    background-color: var(--background);
    box-shadow: var(--shadow) inset;
}

/* COLORS */
.foreground {
    background-color: var(--foreground);
}

.background {
    background-color: var(--background);
}