/* BASIC ITEMS */
.store-img {
    margin-top: 5px;
    border-radius: 15px;

    height: 200px;
    width: 100%;

    box-shadow: var(--shadow) inset;
    background-size: cover;
    background-position: center;
}

.store-desc {
    margin-top: 20px;
    padding: 15px;
    padding-top: 0;
}

.store-desc h3 {
    margin: 0;
    display: inline;
}

.store-desc h3:first-child {
    flex-grow: 1;
}

.store-desc p {
    width: 100%;
    text-align: justify;
}

/* DELUXE MODIFIER */
.item-dlx {
    background-image: linear-gradient(#b3b3b3, #3e3e3e);
    color: #ead99c;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    transition: 0.4s;
}

.item-dlx .store-img {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25) inset;
}

body.hasHover .item-dlx:hover {
    transform: scale(1.01);
    color: #f9eec6;
    text-shadow: 0px 0px 1px #ead99c;
    box-shadow: 0px 0px 12px #ffe484;
}